@import '../../style';

.info-block {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    &:not(:last-child) {
        border-bottom: 1px solid @color-whisper;
    }

    &--info {
        color: @color-dark-gray;
    }

    &--btn {
        color: @color-royal-blue;
        background: transparent;
    }
}
