<div class='change--pass'>
    <div class='change--pass--logo'>
        <div class='change--pass--img' id='avatar'>img</div>
        <div class='change--pass--name'>Иван</div>
    </div>
    <div class='change--pass--data'>
        {{#each profileData}}
            {{{this}}}
        {{/each}}
    </div>
</div>