@import '../../style';

.form-input {
    margin-bottom: 16px;

    label {
        color: @color-dark-gray;
        float: left;
        font-size: 9px;
        line-height: 9px;
    }

    input {
        background: transparent;
        border-bottom: 1px solid @color-royal-blue;
        width: 100%;
        font-size: 13px;
        line-height: 13px;
        padding: 7px 0;
    }
    &--error {
        color: @color-red;
        font-size: 8px;
        line-height: 8px;
        display: block;
        margin-top: 5px;
        text-align: start;
    }
}
