@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: local('Inter'), url('/static/fonts/Inter-VariableFont_slnt,wght.ttf') format('ttf');
}

body {
    font-family: 'Inter', 'Arial', sans-serif;
    background: @color-white;
}

.red-color {
    color: @color-red;
}

@color-whisper: #eaeaea;
@color-light-blue: #e4edfd;
@color-white-smoke: #efefef;
@color-snow: #fbfbfb;
@color-black: #1e1e1e;
@color-dark-gray: #999999;
@color-red: #ff0000;
@color-white: #ffffff;
@color-royal-blue: #3369f3;
@color-white-light: #f8f8f8;
