.chats-wrapper {
  width: 100vw;
  height: 100vh;
  font-weight: 500;
  color: #1e1e1e;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chats {
  flex: 0 0 310px;
  background: #fbfbfb;
  height: 100%;
  display: flex;
  flex-direction: column;

  &-header {
    flex: 0 0 100px;
    display: flex;
    flex-direction: column;
    padding: 14px 10px;
    border-bottom: 1px solid #eaeaea;

    button {
      margin: 6px 0 21px 0;
      background: transparent;
      width: 70px;
      align-self: end;
      color: #999999;
    }

    input {
      background: #efefef;
      border-radius: 5px;
      height: 32px;
      text-align: center;

      &::placeholder {
        text-align: center;
        color: #999999;
      }
    }
  }

  &-body {
    overflow-y: auto;
    flex: 1;
  }
}

.chats-messages {
  flex: 1 1 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px 20px;

  &--head {
    border-bottom: 1px solid #eaeaea;
    display: flex;
    padding-bottom: 10px;

    &-logo {
      width: 34px;
      height: 34px;
      background: #efefef;
      border-radius: 50%;
      margin-right: 10px;
    }

    &-name {
      font-weight: 600;
      display: flex;
      align-items: center;
      flex: 1;
    }

    &-option {
      font-weight: 600;
      display: flex;
      align-items: center;
      font-size: 26px;
    }
  }

  &--body {
    flex: 1;
    overflow-y: auto;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
  }

  &--input {
    border-top: 1px solid #eaeaea;
    padding-top: 10px;
    display: flex;
    align-items: center;

    &-files {
      height: 32px;
      width: 32px;
      background: #999999;
    }

    &-input {
      background: #efefef;
      border-radius: 30px;
      padding: 10px 20px;
      margin: 0 10px;
      flex: 1;
      resize: none;

      &::placeholder {
        color: #999999;
      }
    }

    &-submit {
      background: #3369f3;
      border-radius: 50%;
      width: 28px;
      height: 28px;
      color: #ffffff;
      font-size: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}